$accent: #FF7931;
$black: #000000;
$light: #FFFFFF;
$dark-gray: #4d4d4d;
$gray: #b3b3b3;
$light-gray: #f9f9fc;
$width: 1170px;


.header__text h1 {
    font-family: 'Playfair Display',serif;
    font-size: 35px;
    letter-spacing: 1px;
    margin-top: 50px;
    margin-bottom: 50px;
}
.header {
    width: $width;
    display: flex;
    align-content: center;
    flex-direction: column;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 45px;
}
.nav__list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    & a {
        font-family: 'Raleway',sans-serif;
        text-decoration: none;
        color: $black;
        font-size: 15px;
        letter-spacing: 2px;
        &:visited {
            color: $black;
        }
    }
}
.main-slider {
    margin-bottom: 75px;
    position: relative;
    & .main-slider--fade {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: rgba(0,0,0,0.5);
        opacity: 0.2;
    }
    & .slick-slide {
    }
    & .slick-initialized .slick-slide {
        display: flex;
        justify-content: center;
    }
    & .slick-list {
        & img {
            object-fit: cover;
            width: 100%;
            height: auto;
        }
    }
}
.container {
    display: flex;
    width: $width;
    margin: 0 auto;
    flex-direction: column;
    justify-content: space-between;
}
.inner-c__main {
    width: 771px;
}
.inner-c__reviews {
    margin-top: 75px;
}
.news__main-frame {
    margin-right: 15px;
}
.inner-c__header {
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    letter-spacing: 2px;
    margin-bottom: 16px;
    font-size: 17px;
}
.news__content {
    display: flex;
    flex-direction: row;
    & .main-frame__card {
        width: 470px;
        height: 334px;
        position: relative;
        & img {
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
        & .main-frame__card__content {
            position: absolute;
            bottom: 0px;
            text-align: left;
            padding: 23px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            & .main-frame__card__text {
                font-family: Raleway;
                font-style: normal;
                font-weight: normal;
                font-size: 14px;
                line-height: 21px;
            }
        }
    }
}
.reviews__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.reviews__card {
    position: relative;
    margin-bottom: 45px;
    width: 370px;
    overflow: hidden;
    & .reviews__card__img {
        position: relative;
        height: 203px;
        & img {
            object-fit: cover;
            object-position: top;
            width: 100%;
            height: 100%;
        }
    }
}
.inner-c__sec-frame {
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    align-content: space-between;
    justify-content: space-between;
    & a {
        text-decoration: none;
        color: $black;
    }
    & .sec-frame__card {
        display: flex;
        flex-direction: row;
        position: relative;
        cursor: pointer;
        & .sec-frame__card__img {
            position: relative;
            margin-right: 10px;
            height: 91px;
        }
        & .card__content {
            display: flex;
            flex-direction: column;
            justify-content: center;
            height: 91px;
            & .card__text {
                font-family: Raleway;
                font-style: normal;
                font-weight: normal;
                font-size: 10px;
                line-height: 15px;
            }
            & .card__title {
                font-family: Playfair Display;
                font-style: normal;
                font-weight: 900;
                font-size: 14px;
                line-height: 19px;
                margin-bottom: 5px;
            }
        }
    }
}
.card__img--fade {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 999;
}
.sec-frame__card.bookmarked .card__title {
    color: $accent;
}
.sec-frame__card.bookmarked .card__img--fade, .reviews__card.bookmarked .card__img--fade {
    background: rgba(21,21,30,0.5);
}
.reviews__card.bookmarked .card__img--fade {
    background: rgba(7,6,17,0.7);
    display: flex;

    & span {
        position: relative;
        margin-top: auto;
        margin-bottom: 14px;
        margin-left: 45px;
        color: #FFFFFF;
    }
    .views:before {
        visibility: visible;
        content: url('../img/views.svg');
        position: absolute;
        margin-left: -28px;
        width: 22px;
        height: 14px;
        color: #ffffff;
        opacity: 0.8;
    }
    .comments:before {
        visibility: visible;
        content: url('../img/comments.svg');
        position: absolute;
        margin-left: -23px;
        width: 22px;
        height: 14px;
        color: #ffffff;
        opacity: 0.8;
    }
}
.sec-frame__card.bookmarked .card__title {
    color: $accent;
}
.reviews__card.bookmarked .card__title {
    color: $accent;
}
.reviews__content {
    & .card__title {
        font-family: Playfair Display;
        font-style: normal;
        font-weight: 900;
        font-size: 23px;
        margin-top: 22px;
        margin-bottom: 10px;
    }
    & .card__text {
        font-family: Raleway;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 21px;
    }
}
.sec-frame__card.bookmarked:after {
    content: url('../img/Vector 2.5.svg');
    position: absolute;
    left: 105px;
    top: 8px;
    width: 12px;
    height: 15px;
    z-index: 9999;
}
.reviews__card.bookmarked:after {
    content: url('../img/Vector 2.5.svg');
    position: absolute;
    right: 10px;
    top: 10px;
    width: 12px;
    height: 15px;
    z-index: 9999;
}
.pagination-c {
    display: flex;
    justify-content: center;
    margin-bottom: 90px;
}
.pagination-c a {
    color: $gray;
    padding: 8px 10px;
    text-decoration: none;
    font-size: 14px;
}
.pagionation-c li {
    display: inline-block;
}
.pagination-c__right-arrow {
    position: relative;
    cursor: pointer;
    border: 6px solid transparent;
    border-left: 6px solid $gray;
    width: 0px;
    height: 0px;
    top: 7px;
    margin-left: 22px;
    & a {
        top: -14px;
        position: absolute;
        width: 10px;
        height: 12px;
        left: -11px;
    }
}
.pagination-c__left-arrow {
    position: relative;
    cursor: pointer;
    border: 6px solid transparent;
    border-right: 6px solid $gray;
    width: 0px;
    height: 0px;
    top: 7px;
    margin-right: 22px;
    & a {
        top: -14px;
        position: absolute;
        width: 10px;
        height: 12px;
        left: -19px;
    }
}
.pagination-c__left-arrow, .pagination-c__right-arrow {
    display: inline-block;
}
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.pagination-c .left a, .pagination-c .right a {
    padding: 0px;
}
.pages {
    display: inline-block;
    padding-left: 83px;
    padding-right: 80px;
    border-left: 1px solid $gray;
    border-right: 1px solid $gray;
    height: 26px;
    & li {
        display: inline-block;
    }
}
.show-more a {
    padding: 8px 0px;
}
.pagination__current-page a {
    font-size: 20px;
    color: $black;
}
.pagination__current-page:after {
    content: '';
    position: relative;
    display: block;
    width: 13px;
    height: 3px;
    top: 3px;
    left: 8px;
    background-color: $accent;
}
.main-frame__card__title {
    font-family: Playfair Display;
    font-style: normal;
    font-weight: 900;
    font-size: 20px;
    margin-bottom: 10px;
}
.main__prime {
    display: flex;
    justify-content: center;
    height: 176px;
    float: left;
    & img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        filter: brightness(0.5);
    }
}
.prime__text {
    display: flex;
    align-items: center;
    position: relative;
    text-transform: uppercase;
    font-family: Raleway;
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    color: $light;
    letter-spacing: 2px;
}
.prime__block {
    display: flex;
    justify-content: center;
}
.prime__content {
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    height: 176px;
}
.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 47px;
    background: rgba(0,0,0,0.7);
    border: 2px solid #FF9A64;
    box-sizing: border-box;
    color: $light;
    text-decoration: none;
    font-family: Raleway;
    font-style: normal;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 2px;
    text-transform: uppercase;
    & span {
        margin-left: 10px;
    }
}
.prime__block .btn {
    margin-left: 47px;
}
.inner-c__sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.block__container {
    display: flex;
    position: relative;
    width: 370px;
    height: 479px;
    & .container__img {
        width: 100%;
        height: 100%;
    }
    & .container__content {
        display: flex;
        position: absolute;
        height: 100%;
        width: 100%;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        & .container__text {
            font-family: Playfair Display;
            font-style: normal;
            font-weight: 900;
            font-size: 30px;
            line-height: 40px;
            text-align: center;
            letter-spacing: 2px;
            text-transform: uppercase;
            padding: 48px 48px;
            color: $light;
        }
        & .btn {
            margin-bottom: 30px;
        }
    }
}
.light {
    & .container__text {
        color: $black !important;
    }
    & .btn {
        background-color: $accent;
        color: white;
        border: 0px;
    }
}
.container__inner-c {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 80px;
}
.second-slider {
    width: 100%;
    position: relative;
    align-items: center;
    height: 136px;
    margin-bottom: 100px;
    & img {
        width: 270px;
    }
    & button {
        z-index: 2;
        width: 44px;
        height: 44px;
    }
    & .second-slider__next:after {
        content: '';
        position: absolute;
        top: 17px;
        border: 6px solid transparent;
        border-left: 6px solid #b3b3b3;
    }
    & .second-slider__prev:after {
        content: '';
        position: absolute;
        top: 17px;
        border: 6px solid transparent;
        border-right: 6px solid #b3b3b3;
        right: 21px;
    }
}
.slide-img:hover {
    height: 136px;
}
.second-slider {
    & .slick-slider {
        display: flex;
        align-items: center;
    }
    & .second-slider__inner-c.slick-slide {
        position: relative;
        display: flex;
        width: 302px;
        height: 136px;
        align-items: center;
        &:focus {
            outline: none;
        }
    }
}
.second-slider__content {
    position: absolute;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 270px;
    height: 100%;
    background: rgba(0,0,0,0.6);
    & .second-slider__title {
        font-family: Raleway;
        font-style: normal;
        font-size: 16px;
        line-height: 19px;
        text-align: center;
        letter-spacing: 2px;
        text-transform: uppercase;
        color: $light;
        margin-top: 16px;
    }
    & .btn--small {
        width: 109px;
        height: 31px;
        background: rgba(0,0,0,0.3);
        border: 1px solid #FFFFFF;
        box-sizing: border-box;
        color: $light;
        font-family: Raleway;
        font-style: normal;
        font-size: 10px;
        line-height: 12px;
        text-align: center;
        letter-spacing: 2px;
        text-transform: uppercase;
        text-decoration: none;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 16px;
    }
}
.footer {
    width: 100%;
    background: #F7F7F7;
    & .footer__inner {
        width: $width;
        display: flex;
        align-content: center;
        flex-direction: column;
        text-align: center;
        margin: 0 auto;
        & .footer__copyright {
            display: flex;
            align-items: center;
            width: 100%;
            height: 40px;
            border-top: 1px solid #e9e9e9;
            box-sizing: border-box;
            justify-content: flex-end;
            & .copyright__data {
                right: 0;
                font-size: 10px;
                color: #000000;
                letter-spacing: 0.2px;
                opacity: 0.2;
            }
        }
    }
    & h2 {
        font-family: 'Playfair Display',serif;
        font-size: 28px;
        letter-spacing: 1px;
        margin-top: 30px;
        margin-bottom: 35px;
    }
    & .footer__menu {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 50px;
        & a {
            font-family: 'Raleway',sans-serif;
            text-decoration: none;
            color: $black;
            font-size: 15px;
            letter-spacing: 2px;
            &:visited {
                color: $black;
            }
        }
    }
}
#nav__close-btn {
    position: absolute;
    right: 17px;
    top: 10px;
    width: 30px;
    height: 34px;
    cursor: pointer;
    display: none;
}
#nav__close-btn:hover {
    opacity: 1;
}
#nav__close-btn:before, #nav__close-btn:after {
    position: absolute;
    left: 14px;
    content: ' ';
    height: 38px;
    width: 2px;
    background-color: #D7D9DF;
}
#nav__close-btn:before {
    transform: rotate(45deg);
}
#nav__close-btn:after {
    transform: rotate(-45deg);
}
